@font-face {
  font-family: "BarbFont";
  src: url("./assets/fonts/Bartex.ttf");
}

@font-face {
  font-family: "DelaFont";
  src: url("./assets/fonts/Dela.ttf");
}

@font-face {
  font-family: "LilitaFont";
  src: url("./assets/fonts/lilita.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'BarbFont';
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./assets/bg.webp)no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  margin: 30px 60px;  
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  -webkit-text-stroke: .4px black;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 2em;
  gap: 20px;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titleContainer img {
  max-height: 75px;
}

.titleContainer p {
  font-family: 'BarbFont';
  background: -webkit-linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.salute {
  font-size: 4em;
}

.mainMessage {
  font-size: 3em;
}

.pink {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e0218a;
}

.goldenTitle {
  font-family: monospace;
  color: gold;
  font-size: 5em;
  text-align: center;
}

.brbImg {
  width: 13em;
}

 /* buttonClasses */

 button, .btnLocation {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 22px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #e8e8e8;
  border-color: #f59e9e;
  border-style: solid;
  border-width: 5px;
  border-radius: 35px;
  font-size: 1.15em;
  font-weight: 900;
  color: rgb(134, 124, 124);
  /* font-family: monospace; */
  font-family: 'BarbFont';
  transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
  border-color 400ms ease-in-out,
  background-color 400ms ease-in-out;
  word-spacing: -2px;
}

.hide {
  display: none;
}

.btnLocation {
  font-family: monospace;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

@keyframes movingBorders {
  0% {
    border-color: #f59e9e;
  }

  50% {
    border-color: #f63799;
  }

  90% {
    border-color: #f59e9e;
  }
}

button:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

button svg {
  margin-right: 11px;
  fill: rgb(255, 110, 110);
  transition: opacity 100ms ease-in-out;
  animation: beatingHeart 1.2s infinite;
}

.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

button:hover .filled {
  opacity: 1;
}

 /* buttonClasses */

 /* formContainer */

 .formContainer {
  background-color: #e0218a;
  position: absolute;
  width: 0%;
  height: 0%;
  display: flex;
  gap: 10px;
  color: white;
  font-size: 1.4em;
  font-family: inherit !important;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
 }



 .formContainer.open {
  width: 100%;
  height: 100vh;
 }

 .formContainer button, 
 .formContainer label, 
 .formContainer .switch-holder, 
 .formContainer input {
   display: none;
  }
  
  .formContainer label {
    font-family: 'LilitaFont', cursive;
  }

 .formContainer.open button,
 .formContainer.open label,
 .formContainer.open .switch-holder,
 .formContainer.open input {
  display: flex;
 }

 .formContainer button {
  margin-top: 10px;
  width: 200px;
 }

 .formContainer input {
  padding: .8em;
  border-radius: 8px;
  border: 0px;
  width: 280px;
  font-family: 'Roboto', monospace;
 }

 /* formContainer */


 /* checkbox */

 .switch-holder {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.switch-label {
  padding: 0 20px 0 10px;
}

.switch-label span {
  font-family: 'LilitaFont', cursive;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle label {
  font-family: 'Roboto', sans-serif;
}

.switch-toggle {
  height: 40px;
  display: flex;
  justify-content: center;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
        inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: '0';
  font-size: 13px;
  color: black;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px rgba(0, 0, 0, .25);
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: '01';
  color: black;
  background-color: cyan;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px cyan;
}

 /* checkbox */

/* alert */

 .alert {
  background-color: rgb(255, 255, 204);
  border: 3px rgb(255, 196, 0) solid;
  border-radius: 4px;
  color: black;
  margin: 0 15px;
  padding: 8px;
  font-size: 1em;
  display: none;
 }

 .alert.show{
  display: block;
 }

/* alert */

/* loader */

.loader {
  display: none;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  border-radius: 5px;
  background: linear-gradient(90deg,#e0218a 50%,#0000 0) right/200% 100%;
  animation: l21 3s infinite linear;
}

.loader::before {
  content: "Registrando...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%,#000 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  100% {
    background-position: left
  }
}

.loader.show {
  display: unset;
}

/* loader */

/* confirmationCard */

.confirmationCard {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 35px;
  width: 80%;
  border: 3px #e0218a solid;
  gap: 8px;
}

.confirmationCard h1 {
  color: #e0218a;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
}

.answers {
  background-color: #e0218a;
  color: white;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.confirmationCard.show {
  display: flex;
}

/* confirmationCard */

/* dateTitle */

.dateTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e0218a;
}

.dateLeft, .dateRight {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 115px;
}

.dateLeft span, .dateRight span {
  font-family: 'BarbFont' !important;
}

.dateRight span:first-child {
  font-size: 3.3em;
}

.dateLeft span:first-child {
  font-size: 2em;
}

.dateLeft {
  border-right: 2px #e0218a solid;
  padding-right: 10px;
}

.dateRight {
  padding-left: 10px;
}

.dateTitle span {
  font-size: 1.8em;
}

/* dateTitle */

/* confetti */

.confetti {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}

.confetti.show {
  display: flex;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: hsl(39, 100%, 56%);
  top: 0;
  opacity: 0;
  animation: makeItRain 3000ms infinite linear;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-10deg);
  animation-delay: 182ms;
  animation-duration: 2000ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(20deg);
  animation-delay: 161ms;
  animation-duration: 2076ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation-delay: 481ms;
  animation-duration: 2103ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation-delay: 334ms;
  animation-duration: 1008ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation-delay: 302ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation-delay: 180ms;
  animation-duration: 1168ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation-delay: 395ms;
  animation-duration: 1200ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation-delay: 14ms;
  animation-duration: 1887ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation-delay: 149ms;
  animation-duration: 1805ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation-delay: 351ms;
  animation-duration: 2059ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation-delay: 307ms;
  animation-duration: 1132ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation-delay: 464ms;
  animation-duration: 1776ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(14) {
  left: 94%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 818ms;
}

.confetti-piece:nth-child(15) {
  left: 96%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(16) {
  left: 98%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(17) {
  left: 50%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}

.confetti-piece:nth-child(18) {
  left: 60%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}

.confetti-piece:nth-child(odd) {
  background-color: hsl(0, 100%, 67%);
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 6px;
  height: 14px;
  animation-duration: 4000ms;
  background-color: #c33764;
}

.confetti-piece:nth-child(5n) {
  width: 3px;
  height: 10px;
  animation-duration: 4000ms;
  background-color: #b06ab3;
}

.confetti-piece:nth-child(3n) {
  width: 4px;
  height: 12px;
  animation-duration: 2500ms;
  animation-delay: 3000ms;
  background-color: #dd2476;
}

.confetti-piece:nth-child(3n-7) {
  background-color: hsl(166, 100%, 37%);
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(100vh);
  }
}


/* confetti */

@media only screen and (max-width: 360px)  {
  .goldenTitle {
    font-size: 2em;
  }
}

